.token{
    text-align: center;
    border-color:black;
    color: blue;
}
.lexe{
    text-align: center;
    border-color: black;
    color: blue;
}

.e{
    text-align: center;
    color: white; 
}

.e2{
    text-align: center;
    color: white; 
}